<h1>GeoIP Ejemplo</h1>
<p>Obten la la ciudad, la región y el pais por la IP que escriba aqui.</p>
<br>
<%= form_tag geo_ip_request_path do %>
  <input name="ip" class="form-control input-lg" placeholder="IP" required><br><br>
  <button class="btn-lg btn-success btn-block">Enviar</button>
<% end %>
